@using Vendor.DataLayer.DTOs.Common
@using Vendor.DataLayer.DTOs.Product
@using Vendor.DataLayer.Entities.Store
@using Vendor.Application.Extentions
@using Vendor.Application.Utils
@using Vendor.DataLayer.Entities.Product
@model Vendor.DataLayer.DTOs.Product.FilterProductDTO
@{
    ViewData["Title"] = "محصولات";
}

@section Scripts
    {
    <partial name="_JqueryValidators" />
}

<div class="row">
    <div class="col-xs-4">
        <div class="well with-header with-footer">
            <div class="header bordered-sky">
                فیلتر
            </div>
            <form id="form-filter" asp-area="Admin" asp-controller="Product" asp-action="Index" method="get">
                <input type="hidden" asp-for="PageId" />
                <div class="form-group">
                    <label>نام محصول</label>
                    <input class="form-control" type="text" asp-for="Title" />
                </div>
                <h4>وضعیت</h4>
                <div class="control-group">
                    @foreach (var item in Html.GetEnumSelectList<FilterProductState>())
                    {
                        <div class="radio">
                            <label>
                                <input name="@nameof(Model.FilterProductState)" value="@item.Value" @(Convert.ToInt32(item.Value) == Convert.ToInt32(Model.FilterProductState) ? "checked" : "") type="radio" class="colored-blue">
                                <span class="text"> @item.Text</span>
                            </label>
                        </div>
                    }
                </div>
                <button type="submit" class="btn btn-magenta shiny btn-block">فیلتر</button>
            </form>
        </div>
        <div class="footer">
        </div>
    </div>

    <div class="col-xs-8">
        <div class="well with-header with-footer">
            <div class="header bordered-sky">
                @ViewData["Title"]
            </div>
            @if (Model.Products != null && Model.Products.Any())
            {
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>
                                تصویر محصول
                            </th>
                            <th>
                                نام محصول
                            </th>
                            <th>
                                قیمت پایه
                            </th>
                            <th>
                                وضعیت
                            </th>
                            <th>
                                دستورات
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var Product in Model.Products)
                        {
                            <tr id="ajax-url-item-@Product.Id">
                                <td>
                                    <img src="@(PathExtentions.ProductThumbnailImage + Product.ImageName)" width="100"/>
                                </td>
                                <td>
                                    @Product.Title
                                </td>
                                <td>
                                    @Product.Price
                                </td>
                                <td>
                                    @Product.ProductAcceptanceState.GetEnumName()
                                </td>
                                <td>
                                    @if (Product.ProductAcceptanceState != ProductAcceptanceState.Accepted)
                                    {
                                        <a class="btn btn-success" ajax-url-button="@Product.Id" asp-area="Admin" asp-controller="Product" asp-action="AcceptProduct" asp-route-id="@Product.Id">تایید اطلاعات</a>
                                    }
                                    @if (Product.ProductAcceptanceState != ProductAcceptanceState.Rejected)
                                    {
                                        <a class="btn btn-danger" data-toggle="modal" data-target=".reject-modal-@Product.Id">ردکردن اطلاعات</a>
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
            else
            {
                <div class="alert alert-warning">
                    <p>هیچ درخواستی یافت نشد!</p>
                </div>
            }
            <div class="footer">
                <partial name="_AdminPagingPartial" model="Model.GetCurrentPaging()" />
            </div>
        </div>
    </div>
</div>

@if (Model.Products != null && Model.Products.Any())
{
    foreach (var product in Model.Products)
    {
        <!--LArge Modal Templates-->
        <div class="modal fade reject-modal-@product.Id" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" style="display: none;">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">

                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h4 class="modal-title" id="myLargeModalLabel">رد کردن اطلاعات</h4>
                    </div>
                    <div class="modal-body">
                        <form asp-area="Admin"
                              asp-controller="Product"
                              asp-action="RejectProduct"
                              asp-antiforgery="true"
                              data-ajax="true"
                              data-method="post"
                              data-ajax-success="OnSuccessRejectItem">

                            <partial name="_RejectItemPartial" model="@(new RejectItemDTO { Id = product.Id })" />
                            <hr />
                            <button class="btn btn-danger" type="submit">رد کردن اطلاعات</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!--End Large Modal Templates-->
    }
}